body {
	background-image: url("../images/crystalball.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #111111;
	font-family: 'Lobster', cursive; 
	color: #ede1e1;
}


h1 {
	font-size: 6em;
	text-shadow: 2px 2px #FF0000;
}

h2 {
	font-size: 2em;
	text-shadow: 2px 2px #FF0000;
}

p {
	font-size: 2em;
	text-shadow: 1px 1px #FF0000;
}


.logo {
	text-align: center;

}

.padded-box {
	padding: 18px;
	border: 4px solid #ccc;
	background: rgb(200, 54, 54); /* The Fallback */
   	background: rgba(200, 54, 54, 0.5);

}

